fastapi
uvicorn[standard]
python-dotenv
mysql-connector-python
requests
mangum
pydantic
PyYAML
openai
tiktoken
psycopg2-binary
aiohttp
aiofiles
tqdm
playwright
jsbeautifier
beautifulsoup4
lxml
pyyaml
regex
urllib3
concurrent-log-handler
httpx
xmltodict
